* {
  scrollbar-width: thin;
}

body {
  margin: 0;
}

p,
div {
  hyphens: auto;
}

.disabled {
  display: none;
}

.text-body-3 {
  font-size: 15px;
}

.v-slide-group__next,
.v-slide-group__prev {
  flex: 0 1 28px;
  min-width: 28px;
}

.v-slide-group__next {
  justify-content: end;
}

.v-slide-group__prev {
  justify-content: start;
}

.v-number-input input {
  font-size: 0.875rem;
  min-height: 39px;
}

.v-number-input .v-btn--disabled {
  opacity: 0;
}

.v-chip.cut-off > div {
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
}

.v-chip.w-250 > div {
  max-width: 250px;
}